<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      Bon Appetite
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let item of recipes" style="background-color: white; cursor: pointer;" routerLink="/recipe/{{item.id}}">
    <ion-card-content style="color: black; font-weight: 700;">{{item.name }}</ion-card-content>
    <ion-img src="assets/img/{{item.img}}" alt="{{item.name}}"></ion-img>
    <ion-card-content style="margin-bottom: 10px; color: black;">
      {{ item.info }}
    </ion-card-content>
   </div> 
</ion-content>
